@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@font-face {
  font-family: 'Calibri regular';
  src: url("../fonts/Calibri-regular.eot");
  src: url("../fonts/Calibri-regular.woff") format("woff");
  src: url("../fonts/Calibri-regular.ttf") format("truetype"), url("../fonts/Calibri-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/Century Gothic.eot");
  src: url("../fonts/Century Gothic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Century Gothic.woff2") format("woff2");
  src: url("../fonts/Century Gothic.woff") format("woff"), url("../fonts/Century Gothic.svg#Century Gothic") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F003; }

@font-face {
  font-family: 'fontello';
  src: url("../libs/fonts/fontello.eot?14274652");
  src: url("../libs/fonts/fontello.eot?14274652#iefix") format("embedded-opentype"), url("../libs/fonts/fontello.woff2?14274652") format("woff2"), url("../libs/fonts/fontello.woff?14274652") format("woff"), url("../libs/fonts/fontello.ttf?14274652") format("truetype"), url("../libs/fonts/fontello.svg?14274652#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14274652#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\f099'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-rss:before {
  content: '\f09e'; }

/* '' */
.icon-gplus:before {
  content: '\f0d5'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.icon-vkontakte:before {
  content: '\f189'; }

/* '' */
.icon-youtube:before {
  content: '\f167'; }

/* '' */
.social-network li {
  margin-left: 5px; }
  .social-network li:first-child {
    margin-left: 0; }

.social-network a {
  overflow: hidden;
  position: relative;
  border: 2px solid #ffffff;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 10px; }
  .social-network a:hover {
    border-color: #fff;
    background: #fff; }
    .social-network a:hover:before {
      color: #3f3f3f; }
  .social-network a:before {
    font-size: 18px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    line-height: 36px;
    color: #fff; }

.social-network.fixed {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5px; }
  .social-network.fixed li {
    margin-left: 0;
    margin-bottom: 5px; }
    .social-network.fixed li a {
      background: #fff;
      border-color: #3f3f3f; }
      .social-network.fixed li a:before {
        color: #3f3f3f; }
      .social-network.fixed li a:hover {
        background: #3f3f3f; }
        .social-network.fixed li a:hover:before {
          color: #fff; }
    .social-network.fixed li:last-child {
      margin-bottom: 0; }
  @media (max-width: 1210px) {
    .social-network.fixed {
      display: none; } }

body {
  font: 400 16px/1.5 "Calibri regular";
  color: #3f3f3f; }

* {
  box-sizing: border-box; }

button,
button:active,
button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none; }

label {
  cursor: pointer; }

a,
a:hover,
a:active,
a:focus,
a:valid {
  text-decoration: none;
  outline: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.entry-excerpt-single .h1, .entry-excerpt-single .h2, .entry-excerpt-single .h3, .entry-excerpt-single .h4, .entry-excerpt-single .h5, .entry-excerpt-single .h6, .entry-excerpt-single h1, .entry-excerpt-single h2, .entry-excerpt-single h3, .entry-excerpt-single h4, .entry-excerpt-single h5, .entry-excerpt-single h6 {
  font-family: "Century Gothic";
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px; }

.entry-thumbnail img {
  width: 100%;
  display: block; }

.pages-section {
  margin-bottom: 50px; }

.page-btn-link {
  padding-top: 10px; }
  .page-btn-link a {
    font-size: 14px;
    color: #3f3f3f; }
    .page-btn-link a:hover {
      color: #6e6e6e; }

/* ---------- header button menu ------------ */
.menu-toggle {
  background-color: transparent;
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  padding: 10px 15px;
  margin: 15px auto 0 auto;
  border: none; }
  .menu-toggle:focus, .menu-toggle:hover {
    color: #fff; }
  .menu-toggle:active {
    color: #aaa; }

.search-container {
  position: relative;
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 50px;
  margin-bottom: 50px; }

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  border: none !important;
  font-size: 16px;
  line-height: 18px;
  padding: 0 15px !important; }

.search-btn {
  position: absolute;
  background-color: transparent;
  color: #aaa;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 !important;
  border: none !important;
  font-size: 16px; }

.widget-title,
.widgettitle {
  margin-bottom: 20px; }

.widget_recent_entries ul li a {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #e6e6e6;
  margin-top: -1px;
  color: #3f3f3f; }
  .widget_recent_entries ul li a:hover {
    background-color: #e6e6e6; }

.page-title {
  font: 400 46px/48px "Century Gothic"; }

.site-header {
  background-color: #3f3f3f;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); }

.site-header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }

.site-branding {
  position: relative;
  overflow: hidden; }
  @media (max-width: 991px) {
    .site-branding {
      flex-basis: 100%;
      text-align: center; } }
  .site-branding h1.site-title {
    position: absolute;
    top: 0;
    left: -9999px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin: 0; }
  .site-branding a.site-title-link {
    font: 700 56px/56px "Century Gothic";
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px; }
    .site-branding a.site-title-link span {
      color: #aaa; }

@media (max-width: 991px) {
  .main-navigation {
    flex-basis: 100%;
    text-align: center; } }

.primary-menu li {
  padding: 0 10px;
  font-size: 14px;
  font-family: "Century Gothic"; }
  @media (max-width: 991px) {
    .primary-menu li {
      float: none;
      display: block; } }
  .primary-menu li a {
    display: inline-block;
    color: #fff;
    margin: 20px 0;
    text-transform: uppercase; }
    .primary-menu li a:hover {
      color: #aaa; }

.primary-menu li.current_page_item a {
  color: #aaa; }

.site-content {
  padding-top: 50px; }
  .site-content.home-page {
    padding-top: 0; }

.front-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 151px); }
  @media (max-width: 991px) {
    .front-container {
      min-height: calc(100vh - 209px); } }

.heading {
  font-family: "Century Gothic";
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase; }
  @media (max-width: 991px) {
    .heading {
      font-size: 60px; } }
  @media (max-width: 575px) {
    .heading {
      font-size: 40px; } }

.text-main-page {
  font: 400 36px/48px "Calibri regular";
  padding-top: 25px;
  text-align: center;
  width: 70%; }
  @media (max-width: 991px) {
    .text-main-page {
      font-size: 28px;
      line-height: 38px;
      padding-top: 20px; } }
  @media (max-width: 575px) {
    .text-main-page {
      font-size: 22px;
      line-height: 30px;
      padding-top: 15px; } }

.site-main {
  padding-bottom: 50px; }

.entry-post {
  padding-bottom: 20px; }

.entry-thumbnail {
  margin-bottom: 20px; }
  .entry-thumbnail .entry-thumbnail-link img {
    min-width: 100%; }

.entry-title {
  font: 700 22px/30px "Century Gothic";
  margin-bottom: 10px; }
  .entry-title a {
    color: #3f3f3f; }
    .entry-title a:hover {
      color: #6e6e6e; }

.entry-meta {
  margin-bottom: 10px; }
  .entry-meta span {
    font-size: 12px;
    margin-right: 5px;
    text-transform: uppercase; }
    .entry-meta span:last-child {
      margin-right: 0; }
    .entry-meta span a {
      color: #6e6e6e; }
      .entry-meta span a:hover {
        color: #3f3f3f; }

.entry-excerpt p {
  font-style: italic; }

.blog-navigation {
  padding-top: 20px; }
  .blog-navigation .posts-navigation {
    margin: 0;
    width: 100%; }
    .blog-navigation .posts-navigation .nav-links div a {
      color: #6e6e6e;
      font-size: 14px; }
      .blog-navigation .posts-navigation .nav-links div a:hover {
        color: #3f3f3f; }

/* ------------------------- single -------------------------- */
.entry-title-single {
  font: 700 44px/1.4 "Century Gothic";
  margin-bottom: 15px; }

.single-navigation {
  padding-top: 10px; }
  .single-navigation .post-navigation {
    margin: 0;
    width: 100%; }
    .single-navigation .post-navigation .nav-links div a {
      color: #6e6e6e;
      font-size: 14px; }
      .single-navigation .post-navigation .nav-links div a:hover {
        color: #3f3f3f; }

.header-center {
  text-align: center;
  font-size: 38px;
  font-family: "Century Gothic";
  font-weight: normal;
  padding: 0 10px 50px 10px; }

.loop-title {
  font-family: "Century Gothic";
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 20px; }
  @media (max-width: 600px) {
    .loop-title {
      font-size: 35px; } }

.widget-area {
  padding-bottom: 50px; }

.sidebar-latest-posts {
  margin: 0 0 50px 0; }

.latest-posts-title {
  font: 400 22px/30px "Century Gothic";
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  padding: 15px 20px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  select: none;
  cursor: default; }

.latest-posts-item {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .latest-posts-item:hover {
    background-color: #e6e6e6; }
  .latest-posts-item a {
    display: block;
    padding: 20px; }

.latest-posts-item-content {
  padding-left: 0;
  margin: 0; }
  .latest-posts-item-content p {
    margin: 0;
    color: #aaa;
    font-size: 12px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .latest-posts-item-content p {
        font-size: 12px;
        line-height: 14px; } }
    @media (min-width: 576px) and (max-width: 991px) {
      .latest-posts-item-content p {
        font-size: 14px;
        line-height: 22px; } }

.latest-posts-item-title {
  margin-bottom: 10px;
  color: #3f3f3f;
  font: 400 14px/16px "Century Gothic"; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .latest-posts-item-title {
      font-size: 12px;
      line-height: 14px; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .latest-posts-item-title {
      font-size: 20px;
      line-height: 24px; } }

.post-not-found {
  margin: 0;
  padding: 20px; }

/* ----------------------- links pages ---------------------- */
.sidebar-links-pages {
  margin: 0 0 50px 0; }

.links-pages-item {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #000;
  background-size: cover;
  margin-bottom: 30px; }
  .links-pages-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .links-pages-item a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font: 400 22px/120px "Century Gothic";
    text-align: center; }

.footer {
  background-color: #3f3f3f;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 30px; }

.text-footer {
  color: #fff;
  font-size: 15px; }
  .text-footer p {
    margin-bottom: 8px; }
    .text-footer p a {
      color: #bbb; }

.footer-navigation {
  margin: 15px 0; }
  .footer-navigation a {
    font: 400 14px "Century Gothic";
    color: #fff; }
  .footer-navigation li.current_page_item a {
    color: #aaa; }
  @media (max-width: 767px) {
    .footer-navigation ul {
      flex-direction: column; }
      .footer-navigation ul li {
        margin-bottom: 10px; }
        .footer-navigation ul li:last-child {
          margin-bottom: 0; } }

.text-contacts a {
  color: #bbb; }

.form-collback {
  padding-bottom: 50px; }
  .form-collback input[type='text'],
  .form-collback input[type='email'],
  .form-collback textarea {
    display: block;
    width: 100%;
    border: 1px solid #3f3f3f;
    padding: 0 15px;
    margin-top: 10px; }
  .form-collback input[type='text'],
  .form-collback input[type='email'] {
    line-height: 40px;
    font-weight: 300; }
  .form-collback .btn-form {
    margin-top: 20px;
    background: none;
    border: 2px solid #3f3f3f;
    color: #3f3f3f; }
    .form-collback .btn-form:hover {
      background: #3f3f3f;
      color: #fff; }
  .form-collback textarea {
    resize: none;
    min-height: 200px;
    padding: 10px; }
  .form-collback .required {
    position: relative; }
    .form-collback .required::before {
      content: '*';
      position: absolute;
      top: -2px;
      right: -10px;
      color: red; }

.form-header {
  padding: 20px 0; }
