@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
body {
  font: 16px "Roboto";
  color: #3f3f3f; }

* {
  box-sizing: border-box; }

button,
button:active,
button:focus,
input,
input:active,
input:focus {
  outline: none; }

a,
a:hover,
a:active,
a:focus,
a:valid {
  text-decoration: none;
  outline: none; }

.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix::after {
  zoom: 1; }

.site-header {
  background-color: #3f3f3f;
  margin-bottom: 40px; }

.site-header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0; }

.site-branding {
  position: relative;
  overflow: hidden; }
  @media (max-width: 991px) {
    .site-branding {
      flex-basis: 100%;
      text-align: center; } }
  .site-branding h1.site-title {
    position: absolute;
    top: 0;
    left: -9999px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin: 0; }
  .site-branding a.site-title-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 56px;
    font-weight: normal;
    letter-spacing: 3px; }
    .site-branding a.site-title-link span {
      color: #ccc; }

.primary-menu li {
  padding: 0 10px; }
  .primary-menu li a {
    color: #fff;
    margin: 20px 0; }
    .primary-menu li a:hover {
      color: #ccc; }

.primary-menu li.current_page_item a {
  color: #ccc; }

.front-container {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.heading {
  font-size: 70px;
  text-transform: uppercase;
  color: #000; }

.text-main-page {
  padding-top: 25px;
  font-size: 50px;
  text-align: center;
  width: 70%; }
