@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
.site-header {
  background-color: #3f3f3f; }

.site-header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
