.front-container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  min-height: calc(100vh - 101px)

.heading
  font-size: 70px
  text-transform: uppercase
  font-weight: bold

.text-main-page
  padding-top: 25px
  font-size: 50px
  text-align: center
  width: 70%

