.front-container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  min-height: calc(100vh - 151px)
  @media (max-width: 991px)
    min-height: calc(100vh - 209px)

.heading
  font-size: 70px
  text-transform: uppercase
  font-weight: bold
  @media (max-width: 991px)
    font-size: 60px

.text-main-page
  padding-top: 25px
  font-size: 50px
  text-align: center
  width: 70%
  @media (max-width: 991px)
    font-size: 36px
    padding-top: 20px

