.site-header
  background-color: #3f3f3f
  box-shadow: 0 0 6px rgba(0,0,0, 0.2)

.site-header-inner
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start
  padding: 20px 0

.site-branding
  position: relative
  overflow: hidden
  @media (max-width: 991px)
    flex-basis: 100%
    text-align: center
  h1.site-title
    position: absolute
    top: 0
    left: -9999px
    color: #fff
    font-size: 36px
    font-weight: 700
    margin: 0
  a.site-title-link
    color: #fff // color PR
    text-transform: uppercase
    font-size: 56px
    line-height: 56px
    font-weight: normal
    letter-spacing: 3px
    span
      color: #aaa // color UF

.main-navigation
  @media (max-width: 991px)
    flex-basis: 100%
    text-align: center

.primary-menu
  li
    padding: 0 10px
    font-size: 14px
    @media (max-width: 991px)
      float: none
      display: block
    a
      display: inline-block
      color: #fff // color menu
      margin: 20px 0
      text-transform: uppercase
      &:hover
        color: #aaa
  li.current_page_item,
  li.current_page_parent
    a
      color: #aaa

.site-content
  padding-top: 50px
  &.home-page
    padding-top: 0