.site-header
  background-color: #3f3f3f

.site-header-inner
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

h1.site-title
  font-size: 36px
  font-weight: 700
  a
    color: #66ff99

.primary-menu
  ul
    li
      a
        padding: 30px 25px
        color: #fff


