.site-header
  background-color: #eee
  box-shadow: 0 0 6px rgba(0,0,0, 0.2)

.site-header-inner
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start
  padding: 20px 0

.site-branding
  position: relative
  overflow: hidden
  @media (max-width: 991px)
    flex-basis: 100%
    text-align: center
  h1.site-title
    position: absolute
    top: 0
    left: -9999px
    color: #fff
    font-size: 36px
    font-weight: 700
    margin: 0
  a.site-title-link
    color: #3f3f3f
    text-transform: uppercase
    font-size: 56px
    line-height: 56px
    font-weight: normal
    letter-spacing: 3px
    span
      color: #aaa

.primary-menu
  li
    padding: 0 10px
    font-size: 14px
    a
      color: #3f3f3f
      margin: 20px 0
      text-transform: uppercase
      &:hover
        color: #aaa
  li.current_page_item
    a
      color: #aaa

.site-content
  padding: 50px 0

